#### DEVELOPMENT ###

# database
DEVELOPMENT_DATABASE_HOST=postgresql
DEVELOPMENT_DATABASE_USER=exams
DEVELOPMENT_DATABASE_PASSWORD=exams
DEVELOPMENT_DATABASE_PORT=5432

# redis
DEVELOPMENT_REDIS_DATABASE=0
DEVELOPMENT_REDIS_HOST=exams_redis
DEVELOPMENT_REDIS_PORT=6379
DEVELOPMENT_REDIS_URL=redis://redis:6379/0


# frontend
DEVELOPMENT_CLIENT_URL=http://localhost:3001

# exams_service
DEVELOPMENT_EXAMS_SERVICE_URL=http://localhost:3002

# server
DEVELOPMENT_SERVER_HOST=localhost:3000
DEVELOPMENT_SERVER_PROTOCOL=http://
DEVELOPMENT_SERVER_URL=http://localhost:3000

# mailer
MAILER_SENDER=exams@webapp.com
SMTP_URL=localhost:3000
SMTP_HOST=
SMTP_ADDRESS=
SMTP_PORT=
SMTP_DOMAIN=  
SMTP_USER_NAME=
SMTP_PASSWORD=


### PRODUCTION ###

# database
PRODUCTION_DATABASE_USER=
PRODUCTION_DATABASE_PASSWORD=
PRODUCTION_DATABASE_HOST=
PRODUCTION_DATABASE_PORT=

# redis
PRODUCTION_REDIS_DATABASE=1
PRODUCTION_REDIS_HOST=exams_redis
PRODUCTION_REDIS_PORT=6379
PRODUCTION_REDIS_URL=redis://redis:6379/1

# frontend
PRODUCTION_CLIENT_URL=

# exams_service
PRODUCTION_EXAMS_SERVICE_URL=http://localhost:3002

# server
PRODUCTION_SERVER_HOST=
PRODUCTION_SERVER_PROTOCOL=
PRODUCTION_SERVER_URL=

### TEST ###

# database
TEST_DATABASE_HOST=postgresql
TEST_DATABASE_USER=exams
TEST_DATABASE_PASSWORD=exams
TEST_DATABASE_PORT=5432

# redis
TEST_REDIS_DATABASE=1
TEST_REDIS_HOST=exams_redis
TEST_REDIS_PORT=6379
TEST_REDIS_URL=redis://redis:6379/1

# frontend
TEST_CLIENT_URL=http://localhost:3001

# exams_service
TEST_EXAMS_SERVICE_URL=http://localhost:3002
