<p>Welcome to Exams!</p>

<p>You have been invited to join us by the Administrator.</p>

<p>Please <%= link_to "Click Here", "#{AppConfig.client_url}/accept-invite?token=#{@token}" %> to accept the invitation and join us.</p>

<p>Or you can go to this link instead <%= "#{AppConfig.client_url}/accept-invite?token=#{@token}" %>.</p>

<% if @resource.invitation_due_at %>
  <p>This invitation will expire at <%= l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format') %>.</p>
<% end %>
