<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h2><%= t("mailers.header.hi", name: @resource.full_name) %></h2>
    <%= yield %>
    <p> <%= t("mailers.footer.greetings") %> </p>
    <p><%= t("mailers.footer.team_name") %></p>
  </body>
</html>
